


body {
    margin: 0;
    height: 100vh;
    background-color: rgb(185, 185, 185);

}

header {
    display: flex;
    justify-content: center;
    background-color: rgb(38, 75, 110);
    color: white;
    padding: 20px 0;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
}

/* create parent box of grid */
.parent {
    display: grid;
    /* margin: 0 20px; */
    height: 80%;
    width: 100%;
    /* shifting over, need to fix margins of  */
    /* transform: translateX(2.5%); */


    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1.5fr 1fr;


    grid-template-areas:
            "search weatherDetails"
            "search weekWeather"
        ;


}

#searchHeader {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    padding-left: 10px;
}



.search {
    padding: 20px 20px;
    display: grid;
    grid-area: search;
    grid-template-rows: 20% 80%;
}
#searchTerm {
    height: 45px;
    font-size: 23px;
    padding: 0 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    
}

button {
    background-color:#264B6E;
    border: 0;
    outline: none;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(33, 56, 65, 0.281);
    height: 50px;
    width: 50px;
    overflow: hidden;
    color: white;
    transition: ease-in-out 0.15s;
}

button:hover {
    color: black;
    height: 50px;
    width: 55px;
}

.search-history {
    padding-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    border-radius: 5px;
}

.search-history p {
    display: grid;
    place-content: center;
    border: solid 4px rgba(245, 245, 245, 0.911);
    border-radius:5px;
    background-color: #264B6E;
    color: rgba(245, 245, 245, 0.911);
    font-weight: normal;
    height: 50px;
    cursor: pointer;

}


.weatherDetails {
    grid-area: weatherDetails ;
    padding: 15px 15px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.weatherDetails p {
    font-size: 20px;
}

#isCity {
    display: flex;
    align-items: baseline;
}

#isCity img {
    height: 75px;
    width: 75px;
    transform:  translateY(25%)
}

.weekWeather {
    display: flex;
    flex-direction: row;
    gap: 20px ;
    box-sizing: border-box;
    grid-area: weekWeather;
    padding: 15px 15px;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.weekWeather h3 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.356);
}

.weekWeather img {
    height: 40px;
    width: 40px;
}

.weekWeather p {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.356);
    font-size: 15px;
}


.card {
    border-radius: 5px;
    background-color: #264B6E;
    width: 175px;
    box-shadow: 3px 3px 3px rgba(33, 56, 65, 0.281);
    overflow: hidden;
    min-width: 175px;
}
.cardBody {
    color: whitesmoke;
    padding: 5px 13px;
}

.weekWeather::-webkit-scrollbar{
    height: 13px;
    
}
.weekWeather::-webkit-scrollbar-track{
    display: none;
    /* background: rgba(255, 255, 255, 0.0);
    border-radius: 5px; */
}
.weekWeather::-webkit-scrollbar-thumb {
    background: #264b6eca;
    border-radius:5px;
}

.lowUVI {
    background-color: rgb(22, 189, 0, 0.8);
}

.modUVI {
    background-color: rgb(255, 217, 0, 0.8);
}

.highUVI {
    background-color: rgba(199, 0, 0, 0.8);
}

